@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_header {
    text-align: center;
}

.header {
    background-image: url(../images/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 48px 0;
    max-width: 1920px;
    margin: 0 auto;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
}

.header__item {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}

.header__logo {
    margin: 0 40px;
    position: relative;
    bottom: 10px;
    width: 65px;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    max-width: 406px;
    line-height: 26px;
    color: #16A085;
}

.header__title {
    color: #fff;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 250px auto 0 auto;
    max-width: 608px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__subtitle {
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    font-size: 23px;
    margin: 20px 0 0 0;
    letter-spacing: 2px;
}

.button {
    padding: 28px 55px;
    text-transform: uppercase;
    color: #fff;
    background-color: #16A085;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    margin: 40px auto 0 auto;
    border-radius: 7px; 
    font-weight: 700;
}

.button:hover {
    background-color: #39b49c;
}

.button:active {
    background-color: #8eebd8;
    color: #16A085;
}

.header__icons {
    display: flex;
    max-width: 100px;
    justify-content: space-between;
    margin: 244px auto 0 auto;
}

.header__burger {
    display: none;
    width: 0;
    height: 0;
}

.burger-wrapper {
    text-align: right;
}

.header__burger::before {
    content: "";
    display: inline-block;
    width: 27px;
    border-top: 4px solid #fff;
    position: absolute;
    top: 10px;
    right: -10px;
}

.header__burger::after {
    content: "";
    display: inline-block;
    margin: 0 0 0 auto;
    border: none;
    width: 27px;
    height: 17px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-radius: 10%;
    position: absolute;
    top: 0;
    right: -10px;
}

.hand-phone {
    background-image: url(../images/HandPhone.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
    padding: 120px 0;
    max-width: 1920px;
    margin: 0 auto;
}

.hand-phone__info {
    max-width: 445px;
    font-size: 17px;
    line-height: 27px;
    margin: 50px 0 0 0;
    font-weight: 300;
}

.iphone {
    background-position: 12% 102%;
    margin: 0 auto;
    max-width: 1552px;
    padding: 120px 0 0 0;
    background-size: 339px 491px;
}

.iphone__wrapper {
    max-width: 500px;
    margin: 0 0 0 auto;
}

.arrows {
    display: block;
    width: 50px;
    text-align: left;
    font-weight: 700;
    margin: 54px 0 0 0;
}

.arrows__arrow {
    width: 45%;
    border: none;
    background-color: transparent;
    outline: none;
    margin: 12px 0 0 0;
}

.arrows__arrow:hover {
    cursor: pointer;
}

.arrows__arrow_left:before {
    content: "";
    display: none;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    position: relative;
    right: 3px;
}

.arrows__arrow_right:before {
    content: "";
    display: none;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
}

.community{
    background-color: #F5F6F7;
    padding: 120px 0;
    max-width: 1920px;
    margin: 0 auto;
}

.community__info {
    text-align: center;
    max-width: 200px;
    padding: 87px 0 0 0;
    margin: 0 auto;
}

.community__title {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0 0 0;
}

.community__subtitle {
    max-width: 163px;
    display: block;
    font-size: 13px;
    margin: 20px auto 0 auto;
}

.community__content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 767px;
    margin: 0 0 0 auto;
}

.arrows_community .arrows__arrow {
    width: 3.5%;
}

.arrows_community {
    text-align: right;
    margin: 0 0 10px auto;
    width: 100%;
}

.container_community {
    display: flex;
    flex-wrap: wrap;
}

.subscribe {
    background-image: url(../images/Livello\ 3.png);
    padding: 458px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    max-width: 1920px;
    margin: 0 auto;
}

.subscribe__form {
    text-align: center;
    width: 100%;
    max-width: 343px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
}

.subscribe__title {
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    margin: 0 0 23px 0;
    letter-spacing: 1px;
    color: #fff;
}

.subscribe__input {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: calc(100% - 66px);
    font-size: 14px;
    padding: 20px;
    outline: none;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.subscribe__input::placeholder {
    letter-spacing: 2px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #373737;
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.subscribe__button {
    width: 61px;
    outline: none;
    border: none;
    background-color: #159279;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.subscribe__icon {
    position: relative;
    top: 3px;
}

.subscribe__button:hover {
    cursor: pointer;
    background-color: #1baa8d;
}

.subscribe__button:active {
    cursor: pointer;
    background-color: #40dabb;
}

.download {
    background-color: #F5F6F7;
    max-width: 1920px;
    margin: 0 auto;
    padding: 100px 0;   
}

.download__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.download__info {
    font-weight: 400;
    font-size: 18px;
    max-width: 1020px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 26px;
    margin: 17px auto 0 auto;
}

.download__buttons {
    display: flex;
    justify-content: space-between;
    max-width: 749px;
    margin: 50px auto 0 auto;
}

.download__button-wrapper {
    display: inline-flex;
    text-decoration: none;
}

.download__button {
    background-color: #1ABC9C;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 70px 25px 40px;
    position: relative;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.download__icon-wrapper {
    width: 100px;
    display: inline-block;
    background-color: #159279;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    padding: 18px 0 0 0;
}

.download__icon { 
    width: 30px;
}

.container_footer {
    display: flex;
    justify-content: space-between;
}

.footer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 0;
}

.footer__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.footer__links {
    text-align: left;
}

.footer__link:after {
    content: "  i";
    color: #1ABC9C;
    font-size: 23px;
    position: relative;
    top: 4px;
}

.footer__text {
    margin: 28px 0 0 0;
}

.footer__link:last-child:after {
    color: transparent;
}

.header__link {
    text-decoration: none;
    color: #fff;
}

.header__link:hover {
    text-decoration: underline;
}

.top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    width: 39px;
    height: 30px;
    padding: 5px 0px 0px 6px;
    background-color: #16A085;
    color: #fff;
    text-decoration: none;
}

.top:hover {
    background-color: #27caaa; 
}  

.slider__item,
.slider__item_2 {
    outline: none;
}

.slider {
    margin: 80px auto 0 auto;
    max-width: 500px;
    position: relative;
    right: 100px;
}

.slider_2 {
    max-width: 800px;
}

.slider-img {
    height: auto;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slider-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
}

.next-button, .prev-button, .next-button_2, .prev-button_2 {
    border: none;
    outline: none;
    background-color: transparent;
}

.next-button::before {
    content: "";
    display: inline-block;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
    z-index: 10;
    position: relative;
    top: 6px;
    right: 4px;
}

.next-button_2::before {
    content: "";
    display: inline-block;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
    z-index: 10;
    position: relative;
    top: 6px;
    right: 4px;
}

.prev-button::before {
    content: "";
    display: inline-block;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    z-index: 10;
    position: relative;
    top: 6px;
    right: 7px;
}

.prev-button_2::before {
    content: "";
    display: inline-block;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    z-index: 10;
    position: relative;
    top: 6px;
    right: 7px;
}

.next-button, 
.prev-button,
.next-button_2,
.prev-button_2:hover {
    cursor: pointer;
}

.slider-info-wrapper {
    max-width: 62px;
    margin: 30px 0 0 5px;
}

.slick-list {
    max-height: 450px;
}

.slider-img_2 {
    width: 370px;
    height: 244px;
}






.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    overflow: hidden;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-active {
      display: block;
  }

@media (max-width: 1200px) {
    .hand-phone {
        padding: 100px 0;
    }

    .hand-phone__info {
        margin: 30px 0 0 0;
    }

    .hand-phone {
        padding: 80px 0;
    }
}

@media (max-width: 992px) {
    .header__item {
        font-size: 15px;
    }
    
    .header__menu {
        padding: 0 30px;
    }

    .header__title {
        font-size: 40px;
    }

    .header__subtitle {
        font-size: 18px;
    }

    .button {
        padding: 25px 46px; 
        font-size: 12px;
    }

    .iphone {   
        background-position: -20% 102%;
    }

    .community__content-wrapper {
        flex-direction: column;
        margin: 0 auto;
    }

    .container_community {
        flex-direction: column;
    }

    .arrows_community {
        text-align: center;
        margin: 0;
    }

    .community__item {
        margin: 10px 0 0 0;
        width: 100%;
    }

    .community {
        padding: 0 0 100px 0;
    }
    
    .community__subtitle {
        margin: 20px auto;
    }

    .subscribe {
        padding: 300px 0;
    }

    .top {
        display: none;
    }

    .iphone__wrapper {
        margin: 0 auto;
        text-align: center;
    }

    .slider {
        max-width: 100%;
        text-align: center;
    }

    .slider .slick-prev::before {
        top: -18;
        left: 360px;    
    }
}

@media (max-width: 768px) {
    .header__navigation {
        display: none;
    }

    .header__burger {
        display: inline-block;
        position: relative;
    }

    .header__navigation_active {
        display: flex;
        position: absolute;
        top: 31px;
        width: calc(100% - 100px);
    }
    
    .header__item_logo {
        display: none;
    }

    .header {
        padding: 13px 0;
    }

    .title {
        font-size: 19px;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .hand-phone__info {
        max-width: 400px;
        margin: 20px auto 0 auto;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
    }

    .container {
        text-align: center;
    }

    .hand-phone {
        padding: 50px 0;
    }

    .iphone__wrapper {
        margin: 0 auto;
    }

    .iphone {
        background: none;
        padding: 50px 0;
    }

    .arrows {
        margin: 54px auto 0px auto;
    }

    .arrows_community {
        margin: 0 0 0 0;
    }

    .subscribe__title {
        font-size: 30px;
    }

    .subscribe {
        padding: 200px 0;
    }

    .download__button {
        font-size: 20px;
        padding: 24px 24px 17px 24px;
    }

    .download__icon-wrapper {
        padding: 13px 0 0 0;
    }
}

@media (max-width: 576px) {
    .header__title {
        font-size: 18px;
        margin: 180px auto 0 auto;
    }

    .header__subtitle {
        font-size: 10px;
        margin: 5px 0 0 0;
    }
    
    .button {
        padding: 15px 25px;
        font-size: 7px;
        margin: 20px 0 0 0;
    }
    
    .header__icons {
        margin: 134px auto 0 auto;
    }

    .community {
        padding: 0 0 50px 0;
    }

    .community__info {
        padding: 50px 0 0 0;
    }

    .header__navigation {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 31px;
    width: calc(100% - 100px);
    }   

    .header__item {
        margin: 0 0 10px 0;
    }

    .subscribe {
        padding: 1  00px 0;
    }

    .download__info {
        font-size: 6px;
        line-height: 14px;
    }

    .download__title {
        font-size: 20px;
    }

    .download {
        padding: 50px 0;
    }

    .download__button {
        font-size: 12px;
        padding: 20px 7px 15px 0px;
    }

    .download__icon {
        width: 18px;
    }   

    .download__icon-wrapper {
        padding: 13px 0 0 0;
        width: 64px;
    }

    .footer__icon {
        display: none;
    }

    .footer__link {
        font-size: 13px;
    }

    .footer__links {
        text-align: center;
        width: 100%;
    }

    .footer__text {
        font-size: 11px;
    }

    .footer {
        padding: 20px 0;
    }

    .container_footer {
        justify-content: center;
    }
}

